<div class="position-fixed ms-2 mt-4" id="nav-main-menu-container">
  <div class="collapse collapse-horizontal" id="collapse-nav-main-menu">
    <div class="card card-body" id="nav-main-menu">
      This is some placeholder
    </div>
  </div>
</div>
