<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>

  <body class="">
    <div id="app">
      <header>
        <!-- place navbar here -->
        <%- include('components/navbar_top') %>
      </header>
      <%- include('components/navbar_leftside') %>

      <main>
        <div class="as"></div>

        <button hx-get="" hx-target="as">odading</button>
      </main>
    </div>
    <%- include('libs/scripts') %>
  </body>
</html>
