<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
    />
    <link
      rel="preload"
      href="/libs/UcCO3FwrK3iLTeHuS_nVMrMxCp50qjIw2boKoduKmMEVuI6fMZg.ttf"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
      onload="this.rel='stylesheet'"
    />

    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>

  <body class="background">
    <%- include('body_root') %> <%- include('libs/scripts') %>
  </body>
</html>
