#auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  top: 0;
  left: 0;
}

#login-form {
  width: 34rem;
  height: fit-content;
  transition: width 250ms ease;
}

#login-form .field {
  margin-bottom: 4vh;
}

#reg-form {
  width: 34rem;
  height: fit-content;
  transition: width 250ms ease;
}

#reg-form .field {
  margin-bottom: 4vh;
}

@media (max-width: 768px) {
  #login-form {
    width: calc(100%);
    height: fit-content;
  }
  #reg-form {
    width: calc(100%);
    height: fit-content;
  }
}
