.tooltip {
  font-size: small;
  z-index: 1080;
  transition: all 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-delay: 0.2s;
}

.helper.login {
  position: relative;
}

i {
  translate: no;
}

dialog.modal {
  width: 100%;
  display: table !important;
  overflow-y: auto;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media (min-width: 768px) {
  dialog.modal {
    width: 55vw;
  }
}
