#tasks-container {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr; /* Default: 1 column on small devices */
  grid-template-rows: max-content;
  gap: 1rem;
  width: 100%;
  transition: transform 200ms ease;
}

/* If #nav-main-menu has the .active class, change the grid */
#nav-main-menu.active ~ #tasks-container {
  @media (min-width: 768px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1600px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.task-card {
  margin: 0;
  padding: 0;
  height: auto;
  max-width: 100%;
  border-top: 0;
  transition: box-shadow 0.4s ease, border-top 0.3s ease-in-out;
  will-change: transform, opacity, box-shadow;
}
.task-card.dropped {
  box-shadow: 0px 0px 10px var(--primary);
  will-change: box-shadow;
}
.task-card.hovered {
  box-shadow: 0px 0px 15px var(--primary);
  will-change: box-shadow;
}
.task-card.not-hovered {
  box-shadow: 0px 0px 5px var(--primary);
  will-change: box-shadow;
}

.task-header {
  padding: 0;
  display: grid;
  width: 100%;
  margin: 0;
  cursor: grab;
  padding: 1rem;
  padding-right: 0.5rem;
  padding-bottom: 0;
}

.task-body {
  padding: 1rem;
  padding-top: 0;
}

.task-drag-indicator {
  border-radius: 10px;
  width: 5rem;
  height: 0.3rem;
  background-color: var(--primary);
  opacity: 0.8;
  display: flex;
  margin-top: 1vh;
  transition: margin-top 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.task-drag-indicator.active {
  margin-top: 1.3vh;
  display: flex;
}

.task-menu-more {
  width: 210rem;
}

.truncateLists {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
  padding-right: 3rem;
  transition: all 0.2s ease;
}
.notr {
  white-space: initial;
  overflow: initial;
  text-overflow: initial;
  display: initial;
  max-width: initial;
  padding-right: initial;
  transition: all 0.2s ease;
}

@media (min-width: 768px) {
  .task-drag-indicator {
    display: none;
  }

  #tasks-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Medium devices (≥992px) → 2 columns */
@media (min-width: 992px) {
  #tasks-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (≥1200px) → 3 columns */
@media (min-width: 1200px) {
  #tasks-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra large devices (≥1600px) → 4 columns */
@media (min-width: 1600px) {
  #tasks-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
