@import url("https://cdn.jsdelivr.net/npm/beercss@3.9.1/dist/cdn/beer.min.css");
/* @import url("/libs/bootstrap-icons.min.css"); */
@import url(./nav.css);
@import url(./beer.css);
@import url(./auth.css);
@import url(./home.css);

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/libs/UcCO3FwrK3iLTeHuS_nVMrMxCp50qjIw2boKoduKmMEVuI6fMZg.ttf)
    format("truetype");
}

html {
  touch-action: manipulation;
}

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: medium;
}

.all-container {
  display: grid;
  grid-template-columns: 1fr; /* 1 kolom untuk perangkat kecil */
  grid-template-rows: auto; /* Ukuran dinamis berdasarkan konten */
  height: 100vh;
  width: 100%;
  transition: transform 200ms ease;
}

main {
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  padding: 1rem;
  height: 93vh;
  top: 0;
  left: 0;
  transition: transform 280ms ease, width 200ms ease;
}

main.active {
  width: calc(100% - calc(17rem + 5vw));
  transform: translateX(calc(17rem + 5vw));
}

progress {
  position: fixed;
  z-index: 2;
}

#container-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black !important;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#indicator-circle {
  width: 400px;
  height: 400px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%; /* Ikut lebar parent */
}

@media (max-width: 768px) {
  body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: small;
  }
  main {
    height: 86vh;
  }
  #nav-main-menu {
    position: fixed;
    z-index: 9998;
  }
  main.active {
    width: 100%;
    transform: translateX(0vh);
  }
}
