<div id="auth-container" class="">
  <div id="reg-container">
    <h5>
      <a class="secondary-text" href="/"
        ><span class="primary-text bold">Quick</span>List</a
      >
    </h5>
    <article id="reg-form" class="large-padding">
      <h6>Register</h6>
      <!-- <form action="/api/auth/login" method="post"> -->
      <form class="needs-validation" novalidate="" autocomplete="off">
        <div class="field label border">
          <input
            name="userName"
            type="text"
            value="<%= regUser.userName %>"
            autofocus
            required
          />
          <label class="grey-text">Username</label>
          <span class="helper login grey-text">Example: KeiAxiro</span>
        </div>
        <div class="field label border">
          <input
            name="userEmail"
            value="<%= regUser.userEmail %>"
            type="email"
            autofocus
            required
          />
          <label class="grey-text">Email</label>
          <span class="helper login grey-text"
            >Example: KeiAxiro_23@gmail.com</span
          >
        </div>
        <div class="field label border">
          <input
            name="userPassword"
            value="<%= regUser.userPassword %>"
            type="password"
            required
          />
          <label class="grey-text">Password</label>
          <span class="helper login grey-text"
            >Just create a strong password, dawg</span
          >
        </div>
        <div class="field label border">
          <input
            name="userConfirmPassword"
            value="<%= regUser.userConfirmPassword %>"
            type="password"
            required
          />
          <label class="grey-text">Confirm Password</label>
          <span class="helper login grey-text no-line"
            >You know what you have to do, don't look here...</span
          >
        </div>
        <div class="" style="height: 7vh">
          <button
            hx-post="/api/auth/register"
            hx-swap="innerHTML"
            hx-target="#root"
            hx-indicator="#indicator-bar"
            type="submit"
            class="small-round large large-text absolute right fake-loading"
          >
            Register
          </button>
        </div>
      </form>
      <div id="footer-auth" class="middle-align center-align large-text">
        Already have an account?
        <a
          hx-get="/api/components/login"
          class="link tiny-padding"
          hx-target="#res"
          >Login</a
        >
      </div>
    </article>
  </div>
</div>
