<dialog
  id="modalAdd"
  x-bind:class="isModalAdd ? (isMobile ? 'top active' : 'modal active') : ''"
>
  <button
    @click="isModalAdd = false"
    class="transparent circle large fixed right top"
  >
    <i class="large">close</i>
  </button>
  <div style="margin-right: 2rem">
    <!-- Tab Navigation -->
    <nav class="tabbed small">
      <a
        :class="{ 'active': activeModalTab === 'list' }"
        @click="activeModalTab = 'list'"
      >
        <i>playlist_add</i>
        <span>Add List</span>
      </a>
      <a
        :class="{ 'active': activeModalTab === 'task' }"
        @click="activeModalTab = 'task'"
      >
        <i>add_task</i>
        <span>Add Task</span>
      </a>
    </nav>

    <!-- Add List Form -->
    <div
      class="page padding"
      x-bind:class="{ 'active': activeModalTab === 'list' }"
    >
      <h5>Add List</h5>
      <form id="listForm" action="/api/lists" method="post">
        <div class="field label">
          <input type="text" id="listName" name="listName" required />
          <label>Name</label>
        </div>

        <div class="field label border textarea">
          <textarea id="listDescription" name="listDescription"></textarea>
          <label>Description</label>
        </div>
      </form>

      <footer class="fixed no-padding">
        <nav class="right-align no-space no-padding">
          <button class="transparent link" @click="isModalAdd = false">
            Cancel
          </button>
          <button
            class="transparent link"
            type="submit"
            form="listForm"
            @click="isModalAdd = false"
          >
            Confirm
          </button>
        </nav>
      </footer>
    </div>

    <!-- Add Task Form -->
    <div
      class="page padding"
      x-bind:class="{ 'active': activeModalTab === 'task' }"
    >
      <h5>Add Task</h5>
      <form id="taskForm" action="/api/tasks" method="post">
        <div class="field label">
          <input type="text" id="taskName" name="taskName" required />
          <label>Title</label>
        </div>
        <div
          x-data="{isSelectListOpen: false}"
          class="field label suffix border medium"
        >
          <select
            x-on:focus="isSelectListOpen = true"
            x-on:blur="isSelectListOpen = false"
            @click.away="isSelectListOpen = false"
            id="listSelect"
          >
            <option value="">-- Pilih List --</option>
            <% lists.forEach(element => { %>
            <option id="opt-<%= element.id %>" value="<%= element.id %>">
              <%= element.name %>
            </option>
            <% }) %>
          </select>
          <label>List</label>
          <i
            x-transition.duration.200ms
            x-text="isSelectListOpen? 'arrow_drop_down':'arrow_drop_up'"
            >arrow_drop_up</i
          >
        </div>
        <nav>
          <div class="field label prefix border">
            <i>calendar_month</i>
            <input type="date" />
            <label>Date</label>
          </div>
          <div class="field label prefix border">
            <i>schedule</i>
            <input type="time" step="60" />
            <label>Time</label>
          </div>
        </nav>
        <div class="field label border textarea">
          <textarea id="taskDescription" name="taskDescription"></textarea>
          <label>Description</label>
        </div>
      </form>

      <footer class="fixed no-padding">
        <nav class="right-align no-space no-padding">
          <button class="transparent link" @click="isModalAdd = false">
            Cancel
          </button>
          <button class="transparent link" type="submit" form="taskForm">
            Confirm
          </button>
        </nav>
      </footer>
    </div>
  </div>

  <!-- Footer -->
</dialog>
