<nav
  class="drawer surface-bright small-round"
  x-bind:class="isMenuOpen ? 'active' : ''"
    x-data="{activeTab: 'list' }"
  id="nav-main-menu"
>
  <header>
    <nav>
      <h4 class="max" translate="no">Main Menu</h4>
      <button @click="isMenuOpen = false" class="transparent circle large">
        <i class="large">close</i>
      </button>
    </nav>
  </header>
  <nav>
    <button class="extra fill"
    hx-get="/api/components/modaladd" hx-target="#modal" hx-swap="innerHTML">
      <i>add</i>
      <span>Create</span>
    </button>
  </nav>
  <br>  
  <nav class="drawer no-padding" id="nav-main-content">
    <a
      hx-get="/api/components/home" 
      hx-target="#res" 
      hx-indicator="#indicator-bar"
      :class="{ 'primary': activeTab === 'list' }"
      @click="activeTab = 'list'"
    >
      <i>checklist</i>
      <span>All List</span>
    </a>

    <a 
      hx-get="/api/components/trash"
      hx-target="#res"
      hx-indicator="#indicator-bar"
      :class="{ 'primary': activeTab === 'trash' }"
      @click="activeTab = 'trash'"
    >
      <i>delete</i>
      <span>Trash</span>
    </a>
    <hr class="top-margin bottom-margin" />
    
    <details> 
      <summary>Lists</summary>
    <nav class="drawer no-padding no-margin" id="nav-main-content-tasks"> 
        <% for( let i = 0; i < 12; i++ ) { %>
          
          <a
          hx-get="/api/components/trash"
          hx-target="#res"
          hx-indicator="#indicator-bar"
          :class="{ 'primary': activeTab === 'trash-<%= i %>' }"
      @click="activeTab = 'trash-<%= i %>'"
      >
      <i>delete</i>
      <span>Trash</span>
    </a>
    <% } %>
  </nav>
</details>
</nav>
</nav>
