<nav>
  <a
    @click="isMenuOpen = !isMenuOpen"
    class="circle ripple transparent"
    id="burger-main-menu"
  >
    <i
      class="transparent"
      :class="isMenuOpen ? 'primary' : ''"
      x-text="isMenuOpen ? 'menu_open' : 'menu'"
    ></i>
    <div class="tooltip bottom">Tooltip</div>
  </a>

  <h6 class="max">To-do List</h6>
  <button class="circle transparent">
    <i>attach_file</i>
  </button>
  <button class="circle transparent">
    <i>today</i>
  </button>
  <button class="circle transparent">
    <i>more_vert</i>
  </button>
</nav>
