<nav>
  <button
    @click="isMenuOpen = !isMenuOpen"
    class="circle fast-ripple transparent"
    id="burger-main-menu"
  >
    <i
      class="transparent"
      :class="isMenuOpen ? 'primary' : ''"
      x-text="isMenuOpen ? 'menu_open' : 'menu'"
    ></i>
    <div class="tooltip bottom left-margin" translate="no">Main Menu</div>
  </button>

  <h6 class="max" translate="no">To-do List</h6>
  <button class="circle transparent">
    <i>attach_file</i>
  </button>
  <button class="circle transparent">
    <i>today</i>
  </button>
  <button class="circle transparent" @click="isMoreOpen = true">
    <i>more_vert</i>
    <menu id="menu-more" class="left no-wrap large" x-show="isMoreOpen">
      <h6 class="small-padding">Item 1</h6>
      <a>Item 2</a>
      <a>Item 3</a>
    </menu>
  </button>
</nav>
