<nav>
  <button
    class="circle transparent ripple"
    @click="toggleMainMenu"
    id="burger-main-menu"
  >
    <i id="lists-icon">{{ listsIconContent }}</i>
    <div class="tooltip bottom no-space">Main Menu</div>
  </button>
  <div class="max"></div>
  <button class="circle transparent">
    <i>attach_file</i>
  </button>
  <button class="circle transparent">
    <i>today</i>
  </button>
  <button class="circle transparent">
    <i>more_vert</i>
  </button>
</nav>
<progress></progress>
