<nav>
  <button type="button"
    @click="isMenuOpen = !isMenuOpen"
    class="circle fast-ripple transparent"
    id="burger-main-menu"
  >
    <i
      class="transparent"
      :class="isMenuOpen ? 'primary' : ''"
      x-text="isMenuOpen ? 'menu_open' : 'menu'"
    ></i>
    <div class="tooltip bottom left-margin" translate="no">Main Menu</div>
  </button>

  <h6 class="max" translate="no">
    <a class="secondary-text" href="/"
      ><span class="primary-text bold">Quick</span>List</a
    >
  </h6>

  <button class="circle transparent">
    <i>today</i>
  </button>
  <% if (user) { %>
  <button class="circle transparent border" @click="isMoreOpen = true">
    <img class="responsive" src="/images/logo.png" />
  </button>
  <menu
    id="menu-more"
    class="left small-padding border small-round surface-bright"
    x-show="isMoreOpen"
    x-bind:class="isMoreOpen? 'active' : ''"
    @click.outside="isMoreOpen = false"
  >
    <div class="row">
      <img class="circle large" src="/images/logo.png" />
      <div class="max">
        <h6><%= user.nama %></h6>
        <span><%= user.email %></span>
      </div>
    </div>
    <nav class="top-margin">
      <a href="/api/auth/logout">
        <button>
          <i>logout</i>
          <span>Logout</span>
        </button>
      </a>
    </nav>
  </menu>
  <% }else{ %>
  <a class="no-margin link" href="/login">
    <button class="fake-loading"><i>login</i>Login</button>
  </a>
  <% } %>
</nav>
