<nav
  class="drawer surface-bright small-round"
  x-bind:class="isMenuOpen ? 'active' : ''"
  id="nav-main-menu"
>
  <header>
    <nav>
      <h6 class="max" translate="no">Main Menu</h6>
      <button @click="isMenuOpen = false" class="transparent circle large">
        <i>close</i>
      </button>
    </nav>
  </header>
  <nav class="drawer no-padding" id="nav-main-content">
    <a class="primary" @click="theme('#ff00ff')">
      <i>inbox</i>

      <span class="max" aria-label="Inbox">Inbox</span>
      <b>24</b>
    </a>
    <a hx-get="/lorem" hx-target="#res" hx-indicator="#indicator-bar">
      <i>send</i>
      <span>Outbox</span>
    </a>
    <a hx-get="/api/njir" hx-target="#res" hx-indicator="#indicator-bar">
      <i>favorite</i>
      <span>favorities</span>
    </a>
    <a>
      <i>delete</i>
      <span>Trash</span>
    </a>
    <hr />
    <label>Labels</label>
    <a>
      <i>fiber_manual_record</i>
      <span>Label</span>
    </a>
    <a>
      <i>change_history</i>
      <span>Label</span>
    </a>
    <% for( let i = 0; i < 120; i++ ) { %>

    <a>
      <i>stop</i>
      <span>Label</span>
    </a>
    <% } %>
  </nav>
</nav>
