<article
  class="nav-main-menu surface-bright no-padding tiny-padding"
  id="nav-main-menu"
  :class="isMenuOpen ? 'active' : ''"
>
  <button
    class="extra top-margin"
    hx-get="/lorem"
    hx-trigger="click"
    hx-target="#res"
    hx-swap="outerHTML"
    hx-indicator="#indicator-bar"
  >
    <i>add</i>
    <span>Button</span>
  </button>

  <div class="small-margin"></div>

  <% for( let index = 0; index < 6; index++ ) { %>

  <button class="responsive left-align small transparent">
    <i>task_alt</i>
    <span>Button</span>
  </button>
  <% } %>
</article>
