<nav>
  <a
    @click="isMenuOpen = !isMenuOpen"
    class="circle fast-ripple transparent"
    id="burger-main-menu"
  >
    <i
      class="transparent"
      :class="isMenuOpen ? 'primary' : ''"
      x-text="isMenuOpen ? 'menu_open' : 'menu'"
    ></i>
    <div class="tooltip bottom left-margin" translate="no">Main Menu</div>
  </a>

  <h6 class="max" translate="no">To-do List</h6>
  <button class="circle transparent">
    <i>attach_file</i>
  </button>
  <button class="circle transparent">
    <i>today</i>
  </button>
  <button class="circle transparent" @click="isMoreOpen = true">
    <img class="responsive" src="/images/logo.png" />
  </button>
  <menu
    id="menu-more"
    class="left small-padding border small-round surface-bright"
    x-show="isMoreOpen"
    x-bind:class="isMoreOpen? 'active' : ''"
    @click.outside="isMoreOpen = false"
  >
    <div class="row">
      <img class="circle large" src="/images/logo.png" />
      <div class="max">
        <h6>Keidjaru Axiro asas</h6>
        <span>keidjaru@gmail.com</span>
      </div>
    </div>
    <nav class="top-margin">
      <button>
        <i>home</i>
        <span>Button</span>
      </button>
    </nav>
  </menu>
</nav>
