<style>
  .task-card-one {
    width: 100%;
  }

  @media (min-width: 768px) {
    .task-card-one {
      min-width: 40%;
      width: fit-content;
      max-width: 100%;
    }
  }
</style>
<div id="tasks-container-one">
  <article
    id="task-<%= lists.id %>"
    x-data="{dragIndicator: false}"
    class="task-card-one absolute center surface-container"
  >
    <div x-data="{isMoreOpen: false}">
      <button
        class="circle transparent btn-ignore absolute top-margin right"
        style="z-index: 12121"
        @click="isMoreOpen"
      >
        <i class="material-icons">more_vert</i>
      </button>
      <menu
        x-bind:class="isMoreOpen? 'active':''"
        class="left no-padding border small-round surface-bright"
        style="width: 15rem; margin-right: 1rem"
      >
        <nav class="drawer">
          <a href="/api/auth/logout">
            <i>edit</i>
            <span>Edit</span>
          </a>
        </nav>
      </menu>
    </div>
    <nav class="task-header" style="cursor: default">
      <div
        class="task-drag-indicator absolute top center"
        x-bind:class="dragIndicator? 'active' : ''"
      ></div>
      <h6 class="task-title truncateLists max"><%= lists.name %></h6>
      <div class=""></div>
    </nav>
    <div class="task-body">
      <div class="task-content">
        <p>Description</p>
      </div>
      <div class="task-action">
        <a href="#">Edit</a>
        <a href="#">Delete</a>
      </div>
    </div>
  </article>
</div>
